/* Written by Matthew Roberts */

html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#page {
  width: 100%;
}

/* Cover */
#cover {
  background-image: url("pics/background1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
}

#info {
  height: 450px;
  max-width: 50%;
  flex: auto;
}

#info img {
  background-color: lightblue;
  margin: 150px auto 0px;
  width: 100%;
  max-width: 300px;
  border-radius: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#cover-text {
  text-align: center;
  margin: 20px auto 0px;
  color: white;
}

#cover-text h1, #cover-text h2 {
  font-size: 5vw;
}

/* Desktop layout */
@media screen and (min-width: 400px) {

}

/* Nav Buttons */
#about-button {
  background-color: rgba(0,0,0,0);
  padding: 0px;
  max-width: 33.3%;
  flex: auto;
}

#about-button button {
  width: 100%;
  height: 50px;
  padding: 15px 0px 10px;
  background-color: rgba(0,0,0,0);
  border: none;
  color: white;
  font-size: 2.5vw;
  transition: background-color 1s;
  outline: none;
}

#about-button button:hover {
  background-color: white;
  color: black;
}

#resume-button {
  background-color: rgba(0,0,0,0);
  padding: 0px;
  max-width: 33.3%;
  flex: auto;
}

#resume-button button {
  width: 100%;
  height: 50px;
  padding: 15px 0px 10px;
  background-color: rgba(0,0,0,0);
  border: none;
  color: white;
  font-size: 2.5vw;
  transition: background-color 1s;
  outline: none;
}

#resume-button button:hover {
  background-color: white;
  color: black;
}

#work-button {
  background-color: rgba(0,0,0,0);
  padding: 0px;
  max-width: 33.3%;
  flex: auto;
}

#work-button button {
  width: 100%;
  height: 50px;
  padding: 15px 0px 10px;
  background-color: rgba(0,0,0,0);
  border: none;
  color: white;
  font-size: 2.5vw;
  transition: background-color 1s;
  outline: none;
}

#work-button button:hover {
  background-color: white;
  color: black;
}

/* Content Pages */
#sidemenu {
  background-color: blue;
  color: white;
  display: none;
}

/* About Me */
#about {
  margin: 50px auto 50px;
  padding: 0px 30px;
  flex: auto;
  max-width: 100%;
  text-align: center;
}

/* Resume */
#resume {
  height: 800px;
}

#resumecontent {
  padding: 0px;
}

#contact {
  background-color: #d1d5d5;
  padding: 25px 20px 25px;
}

#contact h1 {
  font-size: 9vw;
  line-height: 1.5;
}

#contact p {
  font-size: 4vw;
  line-height: 0.6;
}

#education {
  background-color: white;
  text-align: left;
  padding: 25px 20px 25px;
}

#education h1 {
  margin-bottom: 15px;
  font-size: 9vw;
}

#education h2 {
  font-size: 6vw;
}

#education ul {
  font-size: 4vw;
  padding-left: 20px;
}

#education img {
  background-color: lightblue;
  width: 8vw;
  height: 8vw;
  margin-right: 10px;
  border-radius: 5px;
}

#experience {
  background-color: #d1d5d5;
  text-align: left;
  padding: 25px 20px 25px;
}

#experience h1 {
  font-size: 9vw;
  margin-bottom: 15px;
}

#experience h4 {
  font-size: 4.5vw;
}

#experience ul {
  font-size: 4vw;
  padding-left: 25px;
}

#experience img {
  background-color: lightblue;
  width: 8vw;
  height: 8vw;
  margin-right: 5px;
  border-radius: 5px;
}

#languages {
  background-color: white;
  padding: 25px 20px 25px;
}

#languages img {
  width: 20vw;
  margin-bottom: 10px;
}

#languages h1 {
  margin-bottom: 15px;
  font-size: 9vw;
}


























/* Projects */
#projects {
  margin: 50px auto 50px;
  height: 800px;
}
